*{
    margin: 0;
    padding: 0;

}
.hero{
    height: calc(100dvh + 100px);
    background-image: url(Frame\ 631.png);
    color: #FFF;
text-align: center;
font-family: "Baloo 2";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: center;
justify-content: center;
margin-top: -200px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 16px 67px;
    margin: 33px 93px;
    border-radius: 33.333px;
border: 1.333px solid rgba(255, 255, 255, 0.50);
background: rgba(6, 174, 213, 0.01);
box-shadow: 0px 5.333px 5.333px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(13.333333969116211px);
height: 112px;

}
.HII a{
    gap: 4.166vw;
    text-decoration: none;
    color: #FFF;
font-family: "Baloo 2";
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.HII{
    gap: 4.166vw;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.HIII{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.HIII input{
    display: flex;
width: 345px;
height: 51px;
padding: 21.333px 25px;
justify-content: flex-end;
align-items: center;
gap: 281.333px;
flex-shrink: 0;
border-radius: 33.333px;
border: 2.667px solid #FFF;
background: rgba(255, 255, 255, 0.50);
backdrop-filter: blur(50.400001525878906px);
box-sizing: border-box;
}
.HIII i{
    font-size: 26px;
    color: #FFF;
    margin: 11px 0 0 -43px;
}

.maturska{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}